[submodule "great-wall-core"]
	path = great-wall-core
	url = git@github.com:Yuri-SVB/great-wall-core.git
[submodule "tlp-core"]
	path = tlp-core
	url = git@github.com:Yuri-SVB/tlp-core.git
[submodule "great-wall-docs"]
	path = great-wall-docs
	url = git@github.com-yuri-svb:yuri-svb/great-wall-docs.git
[submodule "great-wall-ux"]
	path = great-wall-ux
	url = git@github.com-yuri-svb:yuri-svb/great-wall-ux.git
[submodule "namtso-the-sacred-salt"]
	path = namtso-the-sacred-salt
	url = git@github.com:yuri-svb/namtso-the-sacred-salt.git
